*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 12px;
}

body {
  min-height: 100dvh;
  font-family: "League Spartan", sans-serif;
}

img {
  max-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

@keyframes left-to-right {
  100% {
    transform: translateX(100%);
  }
}
.hero__nav-link:hover,
.hero__nav-link:focus {
  box-shadow: 0px 1px 0px 0px hsl(0, 0%, 100%);
}

.hero__nav-link:active {
  opacity: 0.6;
}

.hero__pages-btn--left:hover,
.hero__pages-btn--left:focus,
.hero__pages-btn--right:hover,
.hero__pages-btn--right:focus {
  background-color: hsl(0, 0%, 63%);
}

.hero__pages-btn--left:active,
.hero__pages-btn--right:active {
  background-color: hsl(0, 0%, 27%);
}

.footer__social-link:hover,
.footer__social-link:focus {
  outline: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  outline-offset: 2px;
}

.hero__shop-btn:active {
  color: hsl(0, 0%, 63%);
}

.footer__social-link:active {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  outline: 2px solid hsl(0, 0%, 0%);
}

.hero {
  position: relative;
  max-width: 1440px;
  margin-inline: auto;
}
@media (min-width: 52.5em) {
  .hero {
    display: flex;
  }
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(0, 0%, 0%);
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s ease-in-out;
}
.hero__img {
  flex: 1;
}
@media (min-width: 81.25em) {
  .hero__img {
    flex: 1.5;
  }
}
@media (max-width: 31.1875em) {
  .hero__img--desktop {
    display: none;
  }
}
@media (min-width: 31.25em) {
  .hero__img--mobile {
    display: none;
  }
}
.hero label {
  position: absolute;
  top: 50px;
  z-index: 5;
  left: 0;
}
.hero__room-logo {
  position: absolute;
  top: 50px;
  left: 50vw;
}
@media (min-width: 31.25em) {
  .hero__room-logo {
    top: 60px;
    left: 24px;
  }
}
@media (min-width: 81.25em) {
  .hero__room-logo {
    top: 60px;
    left: 60px;
  }
}
.hero .nav-toggle {
  display: none;
}
.hero label {
  padding-inline-start: 2.083333rem;
  cursor: pointer;
}
@media (min-width: 31.25em) {
  .hero label {
    display: none;
  }
}
.hero .close-nav-icon {
  display: none;
}
.hero__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: hsl(0, 0%, 100%);
  padding-inline-start: 3.125rem;
  padding-block-start: 1.2rem;
  display: flex;
  visibility: hidden;
  justify-content: center;
  gap: 1.875rem;
  align-items: center;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
@media (min-width: 31.25em) {
  .hero__nav {
    visibility: visible;
    opacity: 1;
    height: initial;
    background-color: initial;
    top: 60px;
    left: 140px;
    padding: 0;
    width: initial;
    gap: 2.8rem;
  }
}
@media (min-width: 81.25em) {
  .hero__nav {
    top: 60px;
    left: 180px;
  }
}
.hero__nav-link {
  font-size: clamp(1rem, 0.952rem + 0.179vw, 1.167rem);
  text-transform: lowercase;
  font-weight: 700;
  color: hsl(0, 0%, 27%);
  transition: box-shadow 500ms ease-in-out;
}
@media (min-width: 31.25em) {
  .hero__nav-link {
    color: hsl(0, 0%, 100%);
  }
}
@media (max-width: 31.1875em) {
  #nav-toggle:checked + label + .hero__nav {
    opacity: 1;
    visibility: visible;
  }
  #nav-toggle:checked + label ~ .hero__overlay {
    visibility: visible;
    opacity: 0.6;
  }
  .hero #nav-toggle:checked + label img:nth-child(1) {
    display: none;
  }
  .hero #nav-toggle:checked + label img:nth-child(2) {
    display: inline;
  }
}
.hero__text-wraper {
  position: relative;
  flex: 1;
}
.hero__text {
  width: min(95%, 1400px);
  margin-inline: auto;
  padding-block: 3rem;
  padding-inline: 1rem;
}
@media (min-width: 52.5em) {
  .hero__text {
    padding: 5rem 3rem;
  }
}
@media (min-width: 81.25em) {
  .hero__text {
    padding: 9.8rem 5rem;
  }
}
.hero__title {
  font-size: clamp(2.5rem, 2.19rem + 1.161vw, 3.583rem);
  line-height: 1.1;
  margin-block-end: 1rem;
}
.hero__desc {
  color: hsl(0, 0%, 63%);
  font-weight: 500;
  margin-block-end: 1.5rem;
  font-size: clamp(1rem, 0.952rem + 0.179vw, 1.167rem);
}
.hero__shop-btn {
  font-size: clamp(1rem, 0.952rem + 0.179vw, 1.167rem);
  color: hsl(0, 0%, 27%);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-block-end: 3rem;
}
.hero__shop-btn img {
  animation: left-to-right 1500ms cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.hero__pages-btn {
  background-color: hsl(0, 0%, 0%);
  position: absolute;
  top: -51px;
  right: 0;
  display: flex;
}
@media (min-width: 52.5em) {
  .hero__pages-btn {
    bottom: 0;
    top: initial;
    right: initial;
  }
}
@media (min-width: 81.25em) {
  .hero__pages-btn {
    left: -19px;
  }
}
.hero__pages-btn a {
  display: flex;
  align-items: center;
  transition: background-color 250ms ease-in-out;
  padding: 1rem 1.5rem;
}
@media (min-width: 81.25em) {
  .hero__pages-btn a {
    padding: 2.5rem 2.7rem;
  }
}

.about {
  max-width: 1440px;
  margin-inline: auto;
}
@media (min-width: 52.5em) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 81.25em) {
  .about {
    grid-template-columns: 1fr 41% 1fr;
  }
}
.about__text-wraper {
  width: min(95%, 1400px);
  margin-inline: auto;
  padding-block: 3rem;
  padding-inline: 1rem;
}
@media (min-width: 52.5em) {
  .about__text-wraper {
    order: -1;
  }
}
@media (min-width: 81.25em) {
  .about__text-wraper {
    order: initial;
    padding: 5.5rem 2.2rem;
  }
}
.about__title {
  margin-block-end: 1rem;
  font-size: clamp(1.167rem, 1.071rem + 0.357vw, 1.5rem);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.about__desc {
  color: hsl(0, 0%, 63%);
  font-weight: 500;
  font-size: clamp(1rem, 0.952rem + 0.179vw, 1.167rem);
}
@media (max-width: 31.1875em) {
  .about__img-dark--desktop {
    display: none;
  }
}
@media (min-width: 31.25em) {
  .about__img-dark--mobile {
    display: none;
  }
}
@media (max-width: 31.1875em) {
  .about__img-light--desktop {
    display: none;
  }
}
@media (min-width: 31.25em) {
  .about__img-light--mobile {
    display: none;
  }
}

.footer {
  max-width: 1440px;
  margin-inline: auto;
  background-color: hsl(0, 0%, 0%);
  padding-block-start: 3rem;
  padding: 1rem;
}
.footer__content {
  width: min(95%, 1400px);
  margin-inline: auto;
}
@media (min-width: 31.25em) {
  .footer__content {
    display: flex;
    justify-content: space-between;
  }
}
.footer__logo {
  display: flex;
  justify-content: center;
  margin-block-end: 2rem;
}
@media (min-width: 31.25em) {
  .footer__logo {
    align-self: center;
    margin: 0;
  }
}
.footer__logo img {
  min-height: initial;
}
.footer__social {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  justify-content: center;
}
.footer__social-link {
  color: hsl(0, 0%, 100%);
  padding: 0.8rem;
}/*# sourceMappingURL=styles.css.map */