@use "../abstracts/" as a;

.about {
    max-width: 1440px;
    margin-inline: auto;
        @include a.breakpoint-up(medium){
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

            @include a.breakpoint-up(large){
                grid-template-columns: 1fr 41% 1fr;
            }

    &__text-wraper {
        @include a.my-width;
        padding-block: a.$base-padding;
        padding-inline: a.$padding-2;
            @include a.breakpoint-up(medium){
            order: -1;
            }
                @include a.breakpoint-up(large){
                    order: initial;
                    padding: 5.5rem 2.2rem;
                }
    }

    &__title {
        margin-block-end: a.$base-margin;
        font-size: clamp(1.167rem, 1.071rem + 0.357vw, 1.5rem);
        text-transform: uppercase;
        letter-spacing: 0.5rem;
    }

   

    &__desc {
        color: a.$dark-gray;
        font-weight: 500;
        font-size: clamp(1rem, 0.952rem + 0.179vw, 1.167rem);
    }


    &__img-dark--desktop {
        @include a.breakpoint-down(small) {
            display: none;
        }
    }

    &__img-dark--mobile {
        @include a.breakpoint-up(small) {
            display: none;
        }
    }

    &__img-light--desktop {
        @include a.breakpoint-down(small) {
            display: none;
        }
    }

    &__img-light--mobile {
        @include a.breakpoint-up(small) {
            display: none;
        }
    }
}